<div *ngIf="beer" class="text-center">
    <h1 class="top-beer-heading">{{beer.name}}</h1>
    <div class="image-container">
        <img src="{{beer.imageUrl}}" alt="{{beer.name}}" class="top-beer-image img-responsive img-thumbnail">
    </div>
    <div class="beer-details-container">
        <p>Произведена в {{beer.brewedAt}}</p>
        <p>Тип: {{beer.style}}</p>
    </div>
    <!--<div class="ratings-container">
        <div class="ratings-count">
            Брой гласували: <strong>{{beer.ratings}}</strong>
        </div>
        <div class="average-rating">
            Средна оценка: <strong>{{beer.ratings}}</strong>
        </div>
    </div>-->
    <div class="comments-container">
        <ul>
            <li *ngFor="let comment of beer.comments">
                <div class="single-comment">
                    <p><strong>{{comment.username}}</strong> написа в {{comment.date}}</p>
                    <p>{{comment.text}}</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="clear">
        <a routerLink="/top-beers" class="btn back-link">Обратно към списъка</a>
    </div>
</div>