<div class="tasting text-center">
    <h1 class="page-heading">Как се дегустира бира?</h1>
    <div class="intro">
        <img class="tasting-pic img-responsive img-thumbnail" src="https://s-media-cache-ak0.pinimg.com/originals/73/f0/61/73f061276f9e8d8e6e112b4bee6d13b1.jpg" />
        <div class="tasting-text">
            <p>Дегустацията е един своеобразен завършек на множество скрити процеси, допринесли чрез себе си за характера на пивото, предложено за дегустационна оценка. Самата дегустация цели да придаде един лесно възприемащ се и достатъчно точен израз,
                на всички зрителни, ароматни и вкусови усещания, предизвикани при отпиване на дадената напитка. Това е изключително важен момент, тъй като много често той определя бъдещето развитие на напитката като пазарен продукт. Тя е изразът на всички
                положителни и отрицателни впечатления и емоции, изпитани от главното действащо лице – самия дегустатор. Позволява всеки един от нас бързо да добие представа за същността, качеството, че дори и за характера на напитката. Макар че самата
                оценка е един най-обикновен числов израз, тя крие зад себе си един изключително обаятелен и особен букет от качества, присъщи на всеки един добър дегустатор.</p>
            <p>За съжаление, не всеки има способността да опише ясно своите емоции при отпиване на напитката, тъй като не знае върху какво да се концентрира. Става въпрос за едно наистина реално и смислено описание на качествата, които откриваме в дегустираната
                напитка. Описание, което може да ориентира всеки, за цвета, интензитета, аромата, вкуса и тялото на питието. Това от своя страна е свързано с много практически опит и много добра сетивна памет, която има възможността точно да сравни даден
                цвят, аромат или вкус с нещо познато и реално. Всичко това не винаги се свързва с вродения талант. Понякога то е постигнато с много и упорита работа, добро обучение и познаване на същността на напитката</p>
            <ul class="params">
                <li>Пивата предварително се охлаждат до оптималната температира 6 – 8 градуса, при която те най-пълно разкриват своите характерни черти. Разбира се, възможни са и леко корекции на тези температури, които могат да бъдат съобразени и с различните
                    типове пива, които ще бъдат дегустирани</li>
            </ul>
        </div>
    </div>
</div>