<h1 class="events-head">Състезания</h1>
<p class="events-text">Може бирата ни да е занаятчийска, но състезанията са ни професионалани. Ако сте горд със своята продукция и исакте да видите къде се намира тя, съгласно стандартите на BJCP 2015,заповядайте на организираните бирени дегустации и състезания</p>

<h2>Календар на събитията: </h2>
<ul class="events-calendar">
    <li *ngFor="let events of eventsList">
        <a routerLink="/events/{{events._id}}" class="read-all-link">
            <h3>{{events.title}}</h3>
        </a>
        <div class="events-data">
            <p class="small">
                <span class="data">Дата на събитието:</span> {{events.time}}<br>
                <span class="data">Място на провеждане:</span> {{events.place}}<br>
                {{events.info}}
            </p>
            <hr>
        </div>
    </li>
</ul>
<div class="clear text-center">
        <a routerLink="/home" class="btn back-link">Начало</a>
</div>