<div>
    <h1 class="top-beer-heading">Най-харесвани български бири</h1>
    <ul class="top-beers">
        <li *ngFor="let beer of beerList" class="clear">
            <div>
                <img src="{{beer.imageUrl}}" alt="beer.name" class="top-beer-image img-responsive img-thumbnail">
                <a routerLink="/top-beers/{{beer._id}}" class="beer-link">
                    <h3>{{beer.name}}</h3>
                </a>

                <p>Произведена в {{beer.brewedAt}}</p>
                <p>Средна оценка: <strong>{{beer.averageRating}}</strong></p>
            </div>
        </li>
    </ul>
    <div class="clear text-center">
        <a routerLink="/home" class="btn back-link">Начало</a>
    </div>
</div>