<form class="form-horizontal" #registerForm="ngForm" (ngSubmit)="onSubmit()">
    <fieldset>
        <legend>Регистрационна форма</legend>
        <ul>
            <div class="form-group">
                <label>Категория</label>
                <li *ngFor="let category of categories">
                    {{category}}
                </li>
            </div>
        </ul>

<!--<div>
        <label>Colour</label>
        <div>
            <select [(ngModel)]="car.colour"">
                <option *ngFor="let x of colours" [value]="x.id" [selected]="car.color.id == x.id">{{x.name}}</option>
            </select>
        </div>
</div>-->





        <div class="form-group">
            <label for="text" class="col-lg-2 control-label">Коментар</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="comment" name="comment" placeholder="Коментар" required [(ngModel)]="newParticipation.comment" #comment="ngModel">
            </div>
        </div>


        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Изход</button>
                <button type="submit " class="btn btn-primary " [disabled]="!registerForm.form.valid ">Регистрирай</button>
            </div>
        </div>
    </fieldset>
</form>