<nav class="navbar navbar-default " id="navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed">
                <span class = "sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand brand-header"><a routerLink="/superheroes"><i class="fa fa-home icons-spacing"></i>BeerMe</a>
            </span>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">За пивото<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">История на пивопроизводството в България</a></li>
                        <li><a href="#">Използвани суровини</a></li>
                        <li><a href="#">Дегустация на пиво</a></li>
                        <li><a href="#">Марки пиво</a></li>
                    </ul>
                </li>
                <li><a routerLink="#">Видове пиво</a></li>
                <li><a routerLink="#">Домашни рецепти</a></li>
                <li><a routerLink="#">Новини</a></li>
                <li><a routerLink="#">Събития</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a routerLink="#">Вход</a></li>
                <li><a routerLink="#">Регистрация</a></li>
            </ul>
        </div>
    </div>
</nav>