<footer class="text-center panel-footer" id="footer">
    <div class="footer-info">
        <h4>© TEAM NO FEER FOR BEER</h4>
        <p>Telerik Academy 2016</p>
    </div>

    <div class="footer-icons">
        <p>
            <a href="https://www.youtube.com/channel/UCLC-vbm7OWvpbqzXaoAMGGw" class="btn btn-social-icon btn-lg btn-youtube pull-right spacing-left " target="_blank ">
                <i class="fa fa-youtube-play btn-danger "></i>
            </a>
        </p>
        <p>
            <a href="https://github.com/NoFearForBeers/BeerMe " class="btn btn-social-icon btn-lg btn-github pull-right spacing-left " target="_blank ">
                <i class="fa fa-github "></i>
            </a>
        </p>
        <p>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fbeermebg.herokuapp.com%2F&amp;src=sdkpreparse " class="btn btn-social-icon btn-lg btn-facebook pull-right spacing-left " target="_blank ">
                <i class="fa fa-facebook "></i>
            </a>
        </p>
    </div>
</footer>