body {
    background: #e4dbcb;
    color: #373a3b;
    padding: 0;
    margin: 0;
    font-family: "Gotham Narrow SSm A", "Gotham Narrow SSm B", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 24px;
    position: relative;
    cursor: auto;
}

html,
body {
    font-size: 14px;
    height: 100%;
}

a,
a:hover,
a:visited,
a:active,
a:focus {
    outline: none;
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

button .btn-default {
    background-color: #FDC82F;
}

.btn-default {
    color: white;
    background-color: #FDC82F;
    border-color: #FDC82F;
    border-radius: 0;
}

.btn-default:focus,
.btn-default.focus {
    color: white;
    background-color: #FDC82F;
    border-color: #FDC82F;
}

.btn-default:hover {
    color: white;
    background-color: #FDC82F;
    border-color: #FDC82F;
}

.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
    color: white;
    background-color: #FDC82F;
    border-color: #FDC82F;
}

.btn-default:active:hover,
.btn-default.active:hover,
.open>.dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open>.dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open>.dropdown-toggle.btn-default.focus {
    color: white;
    background-color: #FDC82F;
    border-color: #FDC82F;
}

.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
    background-image: none;
}

.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
    background-color: #fff;
    border-color: #FDC82F;
}

.btn-default .badge {
    color: #fff;
    background-color: #FDC82F;
}

.btn-primary {
    color: #fff;
    background-color: #B83901;
    border-color: #B83901;
    border-radius: 0;
}

.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #B83901;
    border-color: #B83901;
}

.btn-primary:hover {
    color: #fff;
    background-color: #B83901;
    border-color: #B83901;
}

.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #B83901;
    border-color: #B83901;
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.open>.dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open>.dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open>.dropdown-toggle.btn-primary.focus {
    color: #fff;
    background-color: #B83901;
    border-color: #B83901;
}

a.back-link,
a.back-link:hover {
    color: #b83901;
    font-size: 23px;
}

.clear {
    clear: both;
}