<div *ngIf="recipe">
    <div>
        <div class="cont">
            <h1 class="recipes-title">{{recipe.name}}</h1>
            <p>Автор: {{recipe.author}}</p>

            <img src="{{recipe.imgUrl}}" alt="{{recipe.name}}" class="img-thumbnail img-responsive recipe-image-container">
        </div>


        <div class="recipe-content">
            <h4>Продукти:</h4>
            <ul>
                <li *ngFor="let ingredient of recipe.ingredients">
                    <div class="single-ingredient">
                        <p>{{ingredient}}</p>
                    </div>
                </li>
            </ul>

            <h4>Начин на приготвяне:</h4>
            <p>{{recipe.methodOfPreparation}}</p>
        </div>
    </div>
    <div *ngIf="recipe.comments.length" class="col-lg-10">
        <div class="comments-container">
            <h3>Коментари</h3>
            <ul>
                <li *ngFor="let comment of recipe.comments">
                    <div class="single-comment">
                        <div class="user-wrote">
                            <p><strong>{{comment.username}}</strong> написа на {{comment.date | date:'d MMM y в H:m'}}</p>
                        </div>
                        <div class="comment-text">
                            <p>{{comment.text}}</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-10">
        <h4>Напиши коментар:</h4>
        <textarea rows="4" cols="140" type="text" class="form-control" [(ngModel)]="newComment.text" #commentText="ngModel"></textarea>
        <button (click)="addComment()" class="btn btn-primary">Добави</button>
    </div>
</div>
<div class="clear text-center">
    <a routerLink="/recipes" class="btn back-link">Обратно към списъка</a>
</div>