<div *ngIf="recipe">
    <div>
        <div class="cont">
            <h1 class="recipes-title">{{recipe.name}}</h1>
            <p>Автор: {{recipe.author}}</p>

            <img src="{{recipe.imgUrl}}" alt="{{recipe.name}}" class="img-thumbnail img-responsive recipe-image-container">
        </div>


        <div class="recipe-content">
            <h4>Продукти:</h4>
            <ul>
                <li *ngFor="let ingredient of recipe.ingredients">
                    <div class="single-ingredient">
                        <p>{{ingredient}}</p>
                    </div>
                </li>
            </ul>

            <p>Начин на приготвяне:</p>
            <p>{{recipe.methodOfPreparation}}</p>
        </div>
    </div>
</div>