<div class="container text-center" *ngIf="events">
    <h1 class="event-title">{{events.title}}</h1>
    <div class="image-container">
        <img src="{{events.imageUrl}}" alt="{{events.title}}" class="event-image-container img-thumbnail img-responsive">
    </div>

    <div class="event-content">
        <p><strong>Дата на провеждане:</strong> {{events.time}}</p>
        <p><strong>Информация:</strong> {{events.info}}</p>
        <p><strong>Място:</strong> {{events.place}}</p>
        <p><strong>Срокове:</strong> {{events.terms}}</p>
        <p><strong>Изисквания за участие:</strong> {{events.qualifications}}</p>
        <p><strong>Категории:</strong> {{events.category}}</p>
        <p><strong>Проби за оценяване:</strong> {{events.entry}}</p>
        <p><strong>Съдийство:</strong> {{events.judging}}</p>
        <p><strong>Резултати:</strong> {{events.results}}</p>
    </div>
    <a [routerLink]="['/participations/new']" [queryParams]="{eventId: events._id}" class="btn btn-primary">
        <h4>Участвай</h4>
    </a>
</div>