<h1 class="recipes-title">Рецепти</h1>
<div *ngIf="recipeList" class="text-center">
    <ul class="Recipes">
        <li *ngFor="let recipe of recipeList" class="col-md-4">
            <a routerLink="/recipes/{{recipe._id}}" class="recipe-link">
                <h3>{{recipe.name}}</h3>
            </a>
            <img src="{{recipe.imgUrl}}" alt="recipe.name" class="img-thumbnail img-responsive recipe-image-container">
            <p><strong>Автор: {{recipe.author}}</strong></p>
        </li>
    </ul>
</div>
<div *ngIf="!recipeList.length">
    <h3>Няма публикувани рецепти!</h3>
</div>
<div class="clear text-center">
        <a routerLink="/home" class="btn back-link">Начало</a>
</div>