<div class="history text-center">
    <h1 myUppercase class="history-title">История на бирата у нас</h1>

    <div>
        <img src="http://4.bp.blogspot.com/--ZAVpFTRnRI/U861u-UfdDI/AAAAAAAAABQ/JHhBCMGJh40/s1600/483224_510435569020941_821903433_n.jpg" class="pic-history img-responsive img-thumbnail">
        <section class="history-text">
            <p>В средата на XIX век. в България приижда вълна от емигранти от Унгария, където е направен неуспешен опит за революция. Лидерът на унгарското революционно движение Лайош Кошут, заедно с над 1500 поляци и унгарци пристигат първоначално във Видин.
                През 1849 г. голяма част от емигрантите се заселват в един от най-развитите тогава градове в северната част на Османската империя - Шумен. Именно тук европейските емигранти катализират случването на много социални и културни събития. През
                1850 г. в Шумен емигрантите започват да произвеждат бира за първи път в България. Пивото е широко познато в Европа, но в нашите земи то набира популярност именно от Шумен. Професионалният чешки пивовар Франц-Франтишек Милде основава бирената
                фабрика „Шуменско“ в Шумен през 1882 г. и помага за основаването на Българската асоциация на пивоварите същата година. Пивото навлиза в страната и в други градове - Французинът Дюкорп, който е работил като железопътен инженер близо до
                София между 1873 и 1876 г., открива малка пивоварна в Княжево. Чехът Иржи Прошек, който за първи път на идва в България през 1873 г., за да работи на същата железопътна линия, забелязва, че местните шопи имат примитивен обичай да варят
                бира по време на жътвата. Те накисвали ечемика, оставяйки го да покълне, изсушавали го, добавяли гореща вода и див хмел, с естествена ферментация и охлаждане.</p>
            <p>В Пловдив през 1876 г. е отворена пивоварна от швейцарските германци Рудолф Фрик и Фридрих Сулцер. Тя се превръща в голяма и модерна фабрика през 1879-1881 г. с помощта на швейцарския експерт Кристиан Август Боманти. Производството започва
                през 1882 г. в района Каменица, в близост до града, и продължава и днес, като дейността му наследява пивоварната „Каменица“. Първата пивоварна във Варна датира от 1884 г., когато предприемачите Касабов и Втичев отварят малка фабрика.</p>
            <p>Иржи Прошек и братята му основават пивоварната „Витоша“ в София през 1884 г., купуват малката пивоварна на Дюкорп и притежават избата „Дълбок зимник“. Днес пивоварната „Витоша“ е известна като "Ариана".</p>
            <p>През 1899 г. българските партньори на Милде опитват да го заблудят, така че той купува австрийската пивоварна „Йохан Хаберман“ в Русе (основана през 1876 г.) и започва производство на бира там. Опасявайки се от конкуренция, партньорите бързо
                плащат дълговете си и Милде се връща в Шумен, оставяйки брат си Себастиан като мениджър на фабриката в Русе.</p>
            <p>В края на 19 и началото на 20-ти век бирата бързо набира популярност сред българската средна класа и голям брой бирарии са създадени в най-големите градове. След Първата световна война има вече 18 пивоварни в България. Освен вече споменатите
                те включват фабриката в Стара Загора на д-р Кожухаров (1902), фабриката на чехите Малотин и Хозман в Лом, пивоварните „Хаберман“ и „Св. Петка“ в Русе, фабриката „Червен рак“ на германеца Мориц Рат в Плевен, В. Олингер в Кошава и други
                - във Велико Търново, Горна Оряховица и др.</p>
            <p>След Втората световна война, понеже България става част от Източния блок, всички пивоварни са национализирани. След демократичните реформи през 1989 г. българският пазар на бира е доминиран от някои от най-големите мултинационални компании
                за бира, които приватизират местните пивоварни и произвеждат както местни, така и чуждестранни марки бира. Многобройни фестивали на бирата (бирфест), се организират ежегодно в големите градове в цялата страна, например в София, Пловдив,
                Плевен, Габрово, Севлиево, Банско, Видин и др</p>
        </section>
    </div>
</div>