<div>

</div>

<div class="text-center news-section">
    <h1 class="news-head">Най-нови новини</h1>

    <ul>
        <li *ngFor="let news of newsList | sortNews : 'postDate'" class="col-md-4">
            <a routerLink="/news/{{news._id}}">
                <p>{{news.title}}</p>
                <p class="post-date">Пудликувано на: {{news.postDate | date:"MM/dd/yy"}}</p>
                <img src="{{news.imageUrl}}" class="img-thumbnail img-responsive home-img-container">
            </a>
        </li>
    </ul>

    <a routerLink="/news">Всички новини</a>
</div>