<div class="slider slider-mobile">
    <carousel [interval]="myInterval" [(activeSlide)]="activeSlideIndex">
        <slide *ngFor="let slidez of slides; let index=index" class="ll">
            <img src="{{slidez.image}}" class="home-img-slide">
        </slide>
    </carousel>
</div>

<div class="separator">
    <p class="news-head"><i class="fa fa-newspaper-o spacing-rigt" aria-hidden="true"></i>Последни новини</p>
</div>

<div class="text-center news-section ">
    <ul class="list-newest-news">
        <li *ngFor="let news of newsList | sortNews : 'postDate'" class="col-md-4">

            <div class="news-item img-thumbnail img-responsive" myBackground>
                <p><strong>{{news.title}}</strong></p>
                <p>
                    <a routerLink="/news/{{news._id}} " class="btn read-more">Прочети повече <i class=" fa fa-arrow-circle-o-right"></i></a>
                </p>
            </div>
        </li>
    </ul>
</div>

<div class="text-center clear link-news">
    <div class="more-news clear">
        <a routerLink="/news">Всички новини</a>
    </div>
</div>