.news-section {
    padding: 20px;
}

.home-img-container {
    width: 200px;
    height: 250px;
}

.post-date {
    font-style: italic;
    float: right;
    font-size: 0.9em;
}

.news-head {
    padding-bottom: 20px;
}

.clear {
    clear: both;
}

.more-news {
    padding-top: 50px;
}

.more-news :hover {
    font-size: 1.1em;
}

.home-img-slide {
    height: 450px;
    width: 100%;
}

.slider {
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
}