.news-section {
    padding: 30px;
}

.home-img-container {
    width: 300px;
    height: 350px;
}

.news-item {
    width: 300px;
    height: 200px;
    color: #FDC82F;
    padding-top: 10%;
    font-size: 1.2em;
    text-transform: uppercase;
}

.read-more {
    font-size: 1em;
    color: #5F462B;
}

.read-more :hover {
    font-size: 1.5em;
}

.news-head {
    padding-bottom: 20px;
    color: #C24711;
    font-size: 3em;
    font-weight: bold;
}

.clear {
    clear: both;
}

.more-news>a {
    color: #5F462B;
    text-transform: uppercase;
}

.more-news>a:hover {
    font-size: 1.1em;
    color: #C24711;
    text-decoration: underline;
}

.link-news {
    padding-top: 50px;
}

.home-img-slide {
    height: 500px;
    width: 100%;
    opacity: 0.9;
}

.slider {
    width: 133.2%;
    margin-top: -21px;
    margin-left: -16.55%;
    padding: 0;
}