/*.icons-spacing {
    margin-right: 10px;
}

.brand-header {
    font-size: 1.5em;
}

.uppercasing {
    text-transform: uppercase;
}

.main-nav {
    background-color: #332C1E;
}

.main-header {
    color: white;
}*/