<div *ngIf="recipe && authService.isAdminLogged()">
    <div class="cont">
        <h1 class="recipes-title">{{recipe.name}}</h1>
        <p>Автор: {{recipe.author}}</p>

        <img src="{{recipe.imgUrl}}" alt="{{recipe.name}}" class="img-thumbnail img-responsive recipe-image-container">
    </div>

    <div class="recipe-content">
        <h4>Продукти:</h4>
        <ul>
            <li *ngFor="let ingredient of recipe.ingredients">
                <div class="single-ingredient">
                    <p>{{ingredient}}</p>
                </div>
            </li>
        </ul>

        <p>Начин на приготвяне:</p>
        <p>{{recipe.methodOfPreparation}}</p>
    </div>

    <aside id="video-add-note" [@flyInOut]="state" class="transparent-holder">
        <h4>Причини за отхвърляне</h4>
        <textarea id="note" cols="25" rows="10" [(ngModel)]="rejectMessage"></textarea>
        <button class="secondary-btn" (click)="cencel()">Отказ</button>
        <button class="primary-btn" (click)="rejectRecipe()">Потвърди</button>
    </aside>
    <div id="button-group">
        <div class="col-lg-10 col-lg-offset-2">
            <button (click)="inputMessage()" class="btn btn-default">Отхвърли</button>
            <button (click)="approveRecipe()" class="btn btn-primary">Одобри</button>
        </div>
    </div>
</div>