.beer-types-title {
    color: #b83901;
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.beer-types-name {
    color: #b83901;
    font-weight: bold;
    text-shadow: 1px solid #b83901;
    text-transform: uppercase;
}

.beer-types-description {
    text-align: justify;
}